.search-exercises {
  justify-content: center;
  padding-left: 15px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  .Home_wrapper__XaPDZ * {
    border: none;
  }
  fieldset {
    border: none;
  }
}
.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff2625;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  right: 80px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;

  &:hover {
    transform: scale(1.3, 1.3);
  }
}

.right-arrow {
  right: 140px;
}

// .react-horizontal-scrolling-menu--wrapper {
//   width: 100%;
//   display: flex;
//   flex-wrap: wrap;
// }

// .detail-image {
//   width: 729px;
//   height: 742px;
// }

.exercise-card {
  // width: 400px;
  // height: 445px;
  box-shadow: 0 10px 15px -2px rgb(0 0 0 / 0.1), 0 4px 6px -2px rgb(0 0 0 / 0.1);
  padding: 10px;
  background: white;
  border-top: 4px solid #2c5ff6;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  min-width: 35vw;
  transition: 0.3s all ease-in-out;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
  height: 250px;
  width: 250px;
  box-shadow: 0 10px 15px 1px rgb(0 0 0 / 0.1), 0 4px 5px -6px rgb(0 0 0 / 0.1);
  border-radius: 10px;
}

.exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
}

.search-btn:hover {
  color: #ff2625 !important;
  border: 1px solid #ff2625 !important;
}

.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  overflow-x: hidden;
}
@media (max-width: 1200px) {
  .search-exercise {
    width: 80vw;
    padding-left: 15px;
  }
  // .left-arrow,
  // .right-arrow {
  //   position: static !important;
  // }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }
}

.pagination {
  ul {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 400px) {
  .exercise-card {
    width: 280px;
  }
  .bodyPart-card {
    width: 200px;
    height: 150px;
    padding: 0;
    margin: 0;

    span {
      max-width: 20% !important;
      height: 20% !important;
    }
  }
}

// pageloader animation

.anim-typewriter {
  width: 0;
}

.font-animation {
  font-family: Arial, sans-serif;
  position: absolute;
  top: 50%;
  width: 5rem;
  margin: 0 auto;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 5rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  box-sizing: content-box;
}
@media screen and (max-width: 800) {
  .font-animation {
    font-size: 5rem;
  }
}
